<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Diamond Joe Biden News Articles Test Test</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/foundation.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/app.css">
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  		<script src="/assets/scripts/app.js"></script>
	</body>
</HTML>
