<div class="row">
        <div class="large-8 medium-8 columns">
            <h2>Diamond Joe Biden News</h2>

            <div id="headlineArea">
                <h5>
                    The greatest news about the greatest Vice President.
                </h5>
            </div>
            <button type='button' id='mainButton'>Scrape!</button>
            <div id="articles"></div>
        </div>

        <div class="large-4 medium-4 columns">
            <img src="assets/images/hellyeahjoebiden.png" alt="Joe Biden in a siqqq car">
            <div id="notes"></div>
        </div>
</div>